@using Domain.Entities;
@model IEnumerable<SOLDOZA_ADM_MST_CONSU_CLASF_AWS>
@{
    ViewData["Title"] = "AWS Classification";
    //ViewData["Title"] = "Non-Destructive Test Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Styles {
    <link href="~/lib/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-table/dist/bootstrap-table.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/tom-select@2.0.0/dist/css/tom-select.css" rel="stylesheet">
    <style>
        /* remove validation icons */
        .form-control.is-invalid, .was-validated .form-control:invalid {
            background-image: none !important;
            border-color: #ced4da;
            padding-right: 0.75em;
        }

        .form-control.is-valid, .was-validated .form-control:valid {
            background-image: none !important;
            border-color: #ced4da;
            padding-right: 0.75em;
        }
    </style>
}

<ul class="breadcrumb">
    <li class="breadcrumb-item text-warning"><a href="#" class="text-warning">MANAGEMENT</a></li>
    <li class="breadcrumb-item text-gray-900 active">AWS Classification</li>
</ul>

<h1 class="page-header">
    List AWS Classification <small>page header description goes here...</small>
</h1>

<button type="button" class="btn bg-warning me-2 " onclick="ModalNewCONSUCLASFAWS();">New AWS Classification</button>

<div class="card">
    <div class="card-body">
        <table id="datatableCONSUCLASFAWS" class="table text-nowrap">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count() > 0)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.cod_clasf_aws</td>
                            <td>@item.descripcion_clasf_aws</td>
                            <td>
                                <a class="btn btn-outline-warning btn-sm" href="#" role="button" onclick="ModalEditCONSUCLASFAWS(@item.id,'@item.cod_clasf_aws','@item.descripcion_clasf_aws');">Edit</a>
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>


<!-- modal New Project -->
<div class="modal fade" id="newCONSUCLASFAWS">
    <div class="modal-dialog modal-lg">
        <form method="post" id="formNewCONSUCLASFAWS" novalidate>
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">New AWS Classification</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="cod_clasf_aws">AWS Classification Code</label>
                        <input type="text" class="form-control" id="cod_clasf_aws" placeholder="Enter the AWS classification code" autocomplete="off" style="text-transform:uppercase;" required />
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>

                    <div class="form-group">
                        <label for="descripcion_clasf_aws">Descripcion AWS Classification</label>
                        <input type="text" class="form-control" id="descripcion_clasf_aws" placeholder="Enter the AWS classification description" autocomplete="off" style="text-transform:uppercase;" required />
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn bg-dark text-white" id="btnGrabarCONSUCLASFAWS">
                        <span id="loaderN" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display:none;"></span> Save
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- modal Edit Contact -->
<div class="modal fade" id="EditCONSUCLASFAWS">
    <div class="modal-dialog modal-lg">
        <form method="post" id="formEditCONSUCLASFAWS" novalidate>
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit AWS Classification</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="hidden" id="IdCONSUCLASFAWS" />
                    </div>

                    <div class="form-group">
                        <label for="E_cod_clasf_aws">AWS Classification Code</label>
                        <input type="text" class="form-control" id="E_cod_clasf_aws" placeholder="Enter the AWS classification code" autocomplete="off" style="text-transform:uppercase;" required />
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>

                    <div class="form-group">
                        <label for="E_descripcion_clasf_aws">Descripcion AWS Classification</label>
                        <input type="text" class="form-control" id="E_descripcion_clasf_aws" placeholder="Enter the AWS classification description" autocomplete="off" style="text-transform:uppercase;" required />
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn bg-dark text-white" id="btnEditCONSUCLASFAWS">
                        <span id="loaderE" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display:none;"></span> Save
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts{

    <script src="~/lib/highlight.js/highlight.min.js"></script>
    <script src="~/js/demo/highlightjs.demo.js"></script>
    <script src="~/lib/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/dataTables.buttons.min.js"></script>

    @*<script src="https://cdn.datatables.net/buttons/2.1.0/js/dataTables.buttons.min.js"></script>*@

    <script src="~/lib/datatables.net-buttons/js/buttons.colVis.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/jszip.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/pdfmake.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/vfs_fonts.js"></script>
    <script src="~/lib/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>

    <script src="~/lib/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
    <script src="~/lib/bootstrap-table/dist/bootstrap-table.min.js"></script>
    <script src="~/js/demo/table-plugins.demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tom-select@2.0.0/dist/js/tom-select.complete.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script>

        ///// DATATABLE /////////////

        $('#datatableCONSUCLASFAWS').DataTable({
            dom: "<'row mb-3'<'col-sm-4'l><'col-sm-12 text-end'<'d-flex justify-content-end'fB>>>t<'d-flex align-items-center'<'me-auto'i><'mb-0'p>>",
            lengthMenu: [10, 20, 30, 40, 50],
            responsive: true,
            buttons: [
                { extend: 'print', className: 'btn btn-default' },
                { extend: 'pdfHtml5', className: 'btn btn-default' },
                { extend: 'excelHtml5', className: 'btn btn-default' }
            ]
        });

        ///// FUNCIONES  ///////

        function ModalEditCONSUCLASFAWS(xid, xcod, xdescripcion) {
            $("#IdCONSUCLASFAWS").val(xid);
            $("#E_cod_clasf_aws").val(xcod);
            $("#E_descripcion_clasf_aws").val(xdescripcion);
            $('#EditCONSUCLASFAWS').modal('show');
        }

        function ModalNewCONSUCLASFAWS() {
            var form = $("#formNewCONSUCLASFAWS");
            form[0].reset();
            form.get(0).reset();
            form.removeClass('was-validated');
            $('#newCONSUCLASFAWS').modal('show');
        }


        $(document).ready(function () {

            $('#newCONSUCLASFAWS').on('shown.bs.modal', function () {
                $('#cod_cod_clasf_aws').focus();
            });

            $('#btnGrabarCONSUCLASFAWS').click(function (event) {

                var form = $("#formNewCONSUCLASFAWS");
                form.addClass('was-validated');

                if (form[0].checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                    return;
                }

                let CONSUCLASFAWS = {
                    "cod_clasf_aws": $('#cod_clasf_aws').val().toUpperCase(),
                    "descripcion_clasf_aws": $('#descripcion_clasf_aws').val().toUpperCase()
                };
                var data = JSON.stringify(CONSUCLASFAWS);

                $.ajax({
                    type: "POST",
                    url: '/Management/AddCONSUCLASFAWS',
                    contentType: 'application/json;charset=utf-8',
                    dataType: 'json',
                    async: true,
                    data: data,
                    beforeSend: function () {
                        $('#loaderN').show();
                    },
                    success: function (result) {
                        if (result.exito) {
                            $('#newCONSUCLASFAWS').modal('hide');
                            swal("Good job!", result.mensaje, "success").then(function () {
                                location.reload();
                            });
                        }
                        else {
                            swal({
                                icon: "error",
                                text: "Problems add a AWS classification, we ask that you try again!",
                            });
                        }
                    }
                }) .fail(function (jqXHR, textStatus, errorThrow) {
                        var err = "Error: " + textStatus + " " + errorThrow;
                        console.log(err);
                    })

            });


            $('#btnEditCONSUCLASFAWS').click(function (event) {

                var form = $("#formEditCONSUCLASFAWS");
                form.addClass('was-validated');

                if (form[0].checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                    return;
                }

                let CONSUCLASFAWS = {
                    "id": $('#IdCONSUCLASFAWS').val(),
                    "cod_clasf_aws": $('#E_cod_clasf_aws').val().toUpperCase(),
                    "descripcion_clasf_aws": $('#E_descripcion_clasf_aws').val().toUpperCase()
                };


                var data = JSON.stringify(CONSUCLASFAWS);

                $.ajax({
                    type: "POST",
                    url: '/Management/EditCONSUCLASFAWS',
                    contentType: 'application/json;charset=utf-8',
                    dataType: 'json',
                    async: true,
                    data: data,
                    beforeSend: function () {
                        $('#loaderE').show();
                    },
                    success: function (result) {
                        if (result.exito) {
                            $('#EditCONSUCLASFAWS').modal('hide');
                            swal("Good job!", result.mensaje, "success").then(function () {
                                location.reload();
                            });
                        }
                        else {
                            swal({
                                icon: "error",
                                text: "Problems edit a AWS classification, we ask that you try again!",
                            });
                        }
                    }
                }) .fail(function (jqXHR, textStatus, errorThrow) {
                        var err = "Error: " + textStatus + " " + errorThrow;
                        console.log(err);
                    })


            });



        });



    </script>
}

