@using Domain.Entities;
@model IEnumerable<SOLDOZA_MST_CONSUMIBLES>
@{
    ViewData["Title"] = "Consumibles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Styles {
    <link href="~/lib/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-table/dist/bootstrap-table.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/tom-select@2.0.0/dist/css/tom-select.css" rel="stylesheet">
    <style>
        /* remove validation icons */
        .form-control.is-invalid, .was-validated .form-control:invalid {
            background-image: none !important;
            border-color: #ced4da;
            padding-right: 0.75em;
        }

        .form-control.is-valid, .was-validated .form-control:valid {
            background-image: none !important;
            border-color: #ced4da;
            padding-right: 0.75em;
        }
    </style>
}

<ul class="breadcrumb">
    <li class="breadcrumb-item text-warning"><a href="#" class="text-warning">MANAGEMENT</a></li>
    <li class="breadcrumb-item text-gray-900 active">SUPPLY</li>
</ul>

<h1 class="page-header">
    List Supply <small>page header description goes here...</small>
</h1>

<button type="button" class="btn bg-warning me-2 " onclick="ModalNewCONSUMIBLE();">New Supply</button>

<div class="card">
    <div class="card-body">
        <table id="datatableCONSUMIBLE" class="table text-nowrap">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Brand</th>
                    <th>Diameter</th>
                    <th>Manufacturer</th>
                    <th>Welding Proccess</th>
                    <th>Performance</th>
                    <th>AWS Classification</th>
                    <th>F°</th>
                    <th>A°</th>
                    <th>Density</th>
                    <th>Electrode Length</th>
                    <th>Price</th>
                    <th>Electrode/Kg</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count() > 0)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.cod_consumible</td>
                            <td>@item.marca.cod_marca</td>
                            <td>@item.diametro</td>
                            <td>@item.fabricante.cod_fabricante</td>
                            <td>@item.proc_soldadura.cod_proc_soldadura</td>
                            <td>@item.ref_rendto</td>
                            <td>@item.clasf_aws.cod_clasf_aws</td>
                            <td>@item.f_num</td>
                            <td>@item.a_num</td>
                            <td>@item.densidad</td>
                            <td>@item.long_electrodo</td>
                            <td>@item.precio</td>
                            <td>@item.num_elect_kg</td>
                            <td>
                                <a class="btn btn-outline-warning btn-sm" href="#" role="button" onclick="ModalEditCONSUMIBLE(@item.id,'@item.cod_consumible',@item.marca_id,@item.diametro,@item.fabricante_id,@item.proc_soldadura_id,@item.ref_rendto,@item.clasf_aws_id,'@item.f_num','@item.a_num',@item.densidad,'@item.long_electrodo',@item.precio,@item.num_elect_kg);">Edit</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>


<!-- modal New Project -->
<div class="modal fade" id="newCONSUMIBLE">
    <div class="modal-dialog modal-lg">
        <form method="post" id="formNewCONSUMIBLE" novalidate>
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">New Supply</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="cod_consumible">Supply Code</label>
                        <input type="text" class="form-control" id="cod_consumible" placeholder="Enter the supply code" autocomplete="off" style="text-transform:uppercase;" required />
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="form-group">
                        <label for="marca_id">Brand</label>

                        <select id="marca_id" placeholder="Select a brand..." autocomplete="off" style="text-transform:uppercase;" required>
                            <option value="">Select a brand...</option>
                            @foreach (var cust in ViewBag.marcaslist)
                            {
                                <option value="@cust.id">@cust.cod_marca  @cust.descripcion_marca</option>
                            }
                        </select>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="form-group">
                        <label for="diametro">Diameter</label>
                        <input type="text" class="form-control" id="diametro" placeholder="Enter the diameter" autocomplete="off" style="text-transform:uppercase;" required />
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="form-group">
                        <label for="fabricante_id">Manufacturer</label>

                        <select id="fabricante_id" placeholder="Select a manufacturer..." autocomplete="off" style="text-transform:uppercase;" required>
                            <option value="">Select a manufacturer...</option>
                            @foreach (var cust in ViewBag.fabricanteslist)
                            {
                                <option value="@cust.id">@cust.cod_fabricante  @cust.descripcion_fabricante</option>
                            }
                        </select>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="form-group">
                        <label for="proc_soldadura_id">Welding Process</label>

                        <select id="proc_soldadura_id" placeholder="Select a welding process..." autocomplete="off" style="text-transform:uppercase;" required>
                            <option value="">Select a welding process...</option>
                            @foreach (var cust in ViewBag.proc_soldaduralist)
                            {
                                <option value="@cust.id">@cust.cod_proc_soldadura  @cust.descripcion_proc_soldadura</option>
                            }
                        </select>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="form-group">
                        <label for="ref_rendto">Performance</label>
                        <input type="text" class="form-control" id="ref_rendto" placeholder="Enter the performance" autocomplete="off" style="text-transform:uppercase;" required />
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="form-group">
                        <label for="clasf_aws_id">AWS Classification</label>

                        <select id="clasf_aws_id" placeholder="Select a AWS classification..." autocomplete="off" style="text-transform:uppercase;" required>
                            <option value="">Select a AWS classification...</option>
                            @foreach (var cust in ViewBag.clasfawslist)
                            {
                                <option value="@cust.id">@cust.cod_clasf_aws  @cust.descripcion_clasf_aws</option>
                            }
                        </select>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="form-group">
                        <label for="f_num">F°</label>
                        <input type="text" class="form-control" id="f_num" placeholder="Enter the f° value" autocomplete="off" style="text-transform:uppercase;" required />
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="form-group">
                        <label for="a_num">A°</label>
                        <input type="text" class="form-control" id="a_num" placeholder="Enter the a° value" autocomplete="off" style="text-transform:uppercase;" required />
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="form-group">
                        <label for="densidad">Density</label>
                        <input type="text" class="form-control" id="densidad" placeholder="Enter the density" autocomplete="off" style="text-transform:uppercase;" required />
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="form-group">
                        <label for="long_electrodo">Electrode Length</label>
                        <input type="text" class="form-control" id="long_electrodo" placeholder="Enter the electrode length" autocomplete="off" style="text-transform:uppercase;" required />
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="form-group">
                        <label for="precio">Price</label>
                        <input type="text" class="form-control" id="precio" placeholder="Enter the price" autocomplete="off" style="text-transform:uppercase;" required />
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="form-group">
                        <label for="num_elect_kg">Electrode/Kg</label>
                        <input type="text" class="form-control" id="num_elect_kg" placeholder="Enter the electrode/kg" autocomplete="off" style="text-transform:uppercase;" required />
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn bg-dark text-white" id="btnGrabarCONSUMIBLE">
                        <span id="loaderN" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display:none;"></span> Save
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- modal Edit Contact -->
<div class="modal fade" id="editCONSUMIBLE">
    <div class="modal-dialog modal-lg">
        <form method="post" id="formEditCONSUMIBLE" novalidate>
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit supply</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="hidden" id="IdCONSUMIBLE" />
                        @*<input type="hidden" id="IdMARCA" />
            <input type="hidden" id="IdFABRICANTE" />
            <input type="hidden" id="IdPROCSOL" />
            <input type="hidden" id="IdCLASAWS" />*@
                    </div>

                    <div class="form-group">
                        <label for="E_cod_consumible">Supply Code</label>
                        <input type="text" class="form-control" id="E_cod_consumible" placeholder="Enter the supply code" autocomplete="off" style="text-transform:uppercase;" required />
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="form-group">
                        <label for="E_marca_id">Brand</label>

                        <select id="E_marca_id" placeholder="Select a brand..." autocomplete="off" style="text-transform:uppercase;" required>
                            <option value="">Select a brand...</option>
                            @foreach (var cust in ViewBag.marcaslist)
                            {
                                <option value="@cust.id">@cust.cod_marca  @cust.descripcion_marca</option>
                            }
                        </select>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="form-group">
                        <label for="E_diametro">Diameter</label>
                        <input type="text" class="form-control" id="E_diametro" placeholder="Enter the diameter" autocomplete="off" style="text-transform:uppercase;" required />
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="form-group">
                        <label for="E_fabricante_id">Manufacturer</label>

                        <select id="E_fabricante_id" placeholder="Select a manufacturer..." autocomplete="off" style="text-transform:uppercase;" required>
                            <option value="">Select a manufacturer...</option>
                            @foreach (var cust in ViewBag.fabricanteslist)
                            {
                                <option value="@cust.id">@cust.cod_fabricante  @cust.descripcion_fabricante</option>
                            }
                        </select>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="form-group">
                        <label for="E_proc_soldadura_id">Welding Process</label>

                        <select id="E_proc_soldadura_id" placeholder="Select a welding process..." autocomplete="off" style="text-transform:uppercase;" required>
                            <option value="">Select a welding process...</option>
                            @foreach (var cust in ViewBag.proc_soldaduralist)
                            {
                                <option value="@cust.id">@cust.cod_proc_soldadura  @cust.descripcion_proc_soldadura</option>
                            }
                        </select>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="form-group">
                        <label for="E_ref_rendto">Performance</label>
                        <input type="text" class="form-control" id="E_ref_rendto" placeholder="Enter the performance" autocomplete="off" style="text-transform:uppercase;" required />
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="form-group">
                        <label for="E_clasf_aws_id">AWS Classification</label>

                        <select id="E_clasf_aws_id" placeholder="Select a AWS classification..." autocomplete="off" style="text-transform:uppercase;" required>
                            <option value="">Select a AWS classification...</option>
                            @foreach (var cust in ViewBag.clasfawslist)
                            {
                                <option value="@cust.id">@cust.cod_clasf_aws  @cust.descripcion_clasf_aws</option>
                            }
                        </select>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="form-group">
                        <label for="E_f_num">F°</label>
                        <input type="text" class="form-control" id="E_f_num" placeholder="Enter the f° value" autocomplete="off" style="text-transform:uppercase;" required />
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="form-group">
                        <label for="E_a_num">A°</label>
                        <input type="text" class="form-control" id="E_a_num" placeholder="Enter the a° value" autocomplete="off" style="text-transform:uppercase;" required />
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="form-group">
                        <label for="E_densidad">Density</label>
                        <input type="text" class="form-control" id="E_densidad" placeholder="Enter the density" autocomplete="off" style="text-transform:uppercase;" required />
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="form-group">
                        <label for="E_long_electrodo">Electrode Length</label>
                        <input type="text" class="form-control" id="E_long_electrodo" placeholder="Enter the electrode length" autocomplete="off" style="text-transform:uppercase;" required />
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="form-group">
                        <label for="E_precio">Price</label>
                        <input type="text" class="form-control" id="E_precio" placeholder="Enter the price" autocomplete="off" style="text-transform:uppercase;" required />
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="form-group">
                        <label for="E_num_elect_kg">Electrode/Kg</label>
                        <input type="text" class="form-control" id="E_num_elect_kg" placeholder="Enter the electrode/kg" autocomplete="off" style="text-transform:uppercase;" required />
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn bg-dark text-white" id="btnEditCONSUMIBLE">
                        <span id="loaderE" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display:none;"></span> Save
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts{

    <script src="~/lib/highlight.js/highlight.min.js"></script>
    <script src="~/js/demo/highlightjs.demo.js"></script>
    <script src="~/lib/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.colVis.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/jszip.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/pdfmake.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/vfs_fonts.js"></script>
    <script src="~/lib/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>

    <script src="~/lib/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
    <script src="~/lib/bootstrap-table/dist/bootstrap-table.min.js"></script>
    <script src="~/js/demo/table-plugins.demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tom-select@2.0.0/dist/js/tom-select.complete.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script>

        ///// DATATABLE /////////////

        $('#datatableCONSUMIBLE').DataTable({
            dom: "<'row mb-3'<'col-sm-4'l><'col-sm-12 text-end'<'d-flex justify-content-end'fB>>>t<'d-flex align-items-center'<'me-auto'i><'mb-0'p>>",
            lengthMenu: [10, 20, 30, 40, 50],
            responsive: true,
            buttons: [
                { extend: 'print', className: 'btn btn-default' },
                { extend: 'pdfHtml5', className: 'btn btn-default' },
                { extend: 'excelHtml5', className: 'btn btn-default' }
            ]
        });

        ///// FUNCIONES  ///////

        function ModalEditCONSUMIBLE(xid, xcod, xmarca, xdiametro, xfabricante, xproc_soldadura, xref_rendto, xclasf_aws, xf_num, xa_num, xdensidad, xlong_electrodo, xprecio, xnum_elect_kg) {
            $("#IdCONSUMIBLE").val(xid);
            $("#E_cod_consumible").val(xcod);
            $("#E_diametro").val(xdiametro);
            $("#E_ref_rendto").val(xref_rendto);
            $("#E_f_num").val(xf_num);
            $("#E_a_num").val(xa_num);
            $("#E_densidad").val(xdensidad);
            $("#E_long_electrodo").val(xlong_electrodo);
            $("#E_precio").val(xprecio);
            $("#E_num_elect_kg").val(xnum_elect_kg);
            controlEmarca.setValue(xmarca);
            controlEfabricante.setValue(xfabricante);
            controlEproc_soldadura.setValue(xproc_soldadura);
            controlEclasf_aws.setValue(xclasf_aws);
            //$("#IdMARCA").val(xmarca);
            //$("#IdFABRICANTE").val(xfabricante);
            //$("#IdPROCSOL").val(xproc_soldadura);
            //$("#IdCLASAWS").val(xclasf_aws);
            $('#editCONSUMIBLE').modal('show');
        }

        function ModalNewCONSUMIBLE() {
            var form = $("#formNewCONSUMIBLE");
            form[0].reset();
            form.get(0).reset();
            form.removeClass('was-validated');
            $('#newCONSUMIBLE').modal('show');
        }

        $(document).ready(function () {

            $('#newCONSUMIBLE').on('shown.bs.modal', function () {
                $('#cod_CONSUMIBLE').focus();
            });

            controlNmarca = new TomSelect("#marca_id", {
                create: false,
                sortField: {
                    field: "text",
                    direction: "asc"
                },
                onChange: function () {
                    this.wrapper.classList.toggle('is-invalid', !this.isValid);
                }
            });

            controlEmarca = new TomSelect("#E_marca_id", {
                create: false,
                sortField: {
                    field: "text",
                    direction: "asc"
                },
                onChange: function () {
                    this.wrapper.classList.toggle('is-invalid', !this.isValid);
                }
            });

            controlNfabricante = new TomSelect("#fabricante_id", {
                create: false,
                sortField: {
                    field: "text",
                    direction: "asc"
                },
                onChange: function () {
                    this.wrapper.classList.toggle('is-invalid', !this.isValid);
                }
            });

            controlEfabricante = new TomSelect("#E_fabricante_id", {
                create: false,
                sortField: {
                    field: "text",
                    direction: "asc"
                },
                onChange: function () {
                    this.wrapper.classList.toggle('is-invalid', !this.isValid);
                }
            });

            controlNproc_soldadura = new TomSelect("#proc_soldadura_id", {
                create: false,
                sortField: {
                    field: "text",
                    direction: "asc"
                },
                onChange: function () {
                    this.wrapper.classList.toggle('is-invalid', !this.isValid);
                }
            });

            controlEproc_soldadura = new TomSelect("#E_proc_soldadura_id", {
                create: false,
                sortField: {
                    field: "text",
                    direction: "asc"
                },
                onChange: function () {
                    this.wrapper.classList.toggle('is-invalid', !this.isValid);
                }
            });

            controlNclasf_aws = new TomSelect("#clasf_aws_id", {
                create: false,
                sortField: {
                    field: "text",
                    direction: "asc"
                },
                onChange: function () {
                    this.wrapper.classList.toggle('is-invalid', !this.isValid);
                }
            });

            controlEclasf_aws = new TomSelect("#E_clasf_aws_id", {
                create: false,
                sortField: {
                    field: "text",
                    direction: "asc"
                },
                onChange: function () {
                    this.wrapper.classList.toggle('is-invalid', !this.isValid);
                }
            });

            $('#btnGrabarCONSUMIBLE').click(function (event) {

                var form = $("#formNewCONSUMIBLE");
                form.addClass('was-validated');

                controlNmarca.wrapper.classList.toggle('is-invalid', !controlNmarca.isValid);
                controlNfabricante.wrapper.classList.toggle('is-invalid', !controlNfabricante.isValid);
                controlNproc_soldadura.wrapper.classList.toggle('is-invalid', !controlNproc_soldadura.isValid);
                controlNclasf_aws.wrapper.classList.toggle('is-invalid', !controlNclasf_aws.isValid);

                if (form[0].checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                    return;
                }

                let CONSUMIBLE = {
                    "marca_id": $('#marca_id').val(),
                    "fabricante_id": $('#fabricante_id').val(),
                    "proc_soldadura_id": $('#proc_soldadura_id').val(),
                    "clasf_aws_id": $('#clasf_aws_id').val(),
                    "diametro": $('#diametro').val(),
                    "ref_rendto": $('#ref_rendto').val(),
                    "f_num": $('#f_num').val(),
                    "a_num": $('#a_num').val(),
                    "densidad": $('#densidad').val(),
                    "long_electrodo": $('#long_electrodo').val(),
                    "precio": $('#precio').val(),
                    "num_elect_kg": $('#num_elect_kg').val(),
                    "cod_consumible": $('#cod_consumible').val()
                };

                var data = JSON.stringify(CONSUMIBLE);

                $.ajax({
                    type: "POST",
                    url: '/Management/AddCONSUMIBLE',
                    contentType: 'application/json;charset=utf-8',
                    dataType: 'json',
                    async: true,
                    data: data,
                    beforeSend: function () {
                        $('#loaderN').show();
                    },
                    success: function (result) {
                        if (result.exito) {
                            $('#newCONSUMIBLE').modal('hide');
                            swal("Good job!", result.mensaje, "success").then(function () {
                                location.reload();
                            });
                        }
                        else {
                            swal({
                                icon: "error",
                                text: "Problems add a supply, we ask that you try again!",
                            });
                        }
                    }
                }) .fail(function (jqXHR, textStatus, errorThrow) {
                        var err = "Error: " + textStatus + " " + errorThrow;
                        console.log(err);
                    })

            });


            $('#btnEditCONSUMIBLE').click(function (event) {

                var form = $("#formEditCONSUMIBLE");
                form.addClass('was-validated');

                controlEmarca.wrapper.classList.toggle('is-invalid', !controlEmarca.isValid);
                controlEfabricante.wrapper.classList.toggle('is-invalid', !controlEfabricante.isValid);
                controlEproc_soldadura.wrapper.classList.toggle('is-invalid', !controlEproc_soldadura.isValid);
                controlEclasf_aws.wrapper.classList.toggle('is-invalid', !controlEclasf_aws.isValid);

                if (form[0].checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                    return;
                }

                let CONSUMIBLE = {
                    "id": $('#IdCONSUMIBLE').val(),
                    "marca_id": $('#E_marca_id').val(),
                    "fabricante_id": $('#E_fabricante_id').val(),
                    "proc_soldadura_id": $('#E_proc_soldadura_id').val(),
                    "clasf_aws_id": $('#E_clasf_aws_id').val(),
                    "diametro": $('#E_diametro').val(),
                    "ref_rendto": $('#E_ref_rendto').val(),
                    "f_num": $('#E_f_num').val(),
                    "a_num": $('#E_a_num').val(),
                    "densidad": $('#E_densidad').val(),
                    "long_electrodo": $('#E_long_electrodo').val(),
                    "precio": $('#E_precio').val(),
                    "num_elect_kg": $('#E_num_elect_kg').val(),
                    "cod_consumible": $('#E_cod_consumible').val()
                };

                var data = JSON.stringify(CONSUMIBLE);

                $.ajax({
                    type: "POST",
                    url: '/Management/EditCONSUMIBLE',
                    contentType: 'application/json;charset=utf-8',
                    dataType: 'json',
                    async: true,
                    data: data,
                    beforeSend: function () {
                        $('#loaderE').show();
                    },
                    success: function (result) {
                        if (result.exito) {
                            $('#editCONSUMIBLE').modal('hide');
                            swal("Good job!", result.mensaje, "success").then(function () {
                                location.reload();
                            });
                        }
                        else {
                            swal({
                                icon: "error",
                                text: "Problems edit a supply, we ask that you try again!",
                            });
                        }
                    }
                }) .fail(function (jqXHR, textStatus, errorThrow) {
                        var err = "Error: " + textStatus + " " + errorThrow;
                        console.log(err);
                    })


            });



        });



    </script>
}
