@using Domain.Entities;
@model IEnumerable<SOLDOZA_MST_CONSUMIBLES>
@{
    ViewData["Title"] = "Consumibles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Styles {
    <link href="~/lib/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-table/dist/bootstrap-table.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/tom-select@2.0.0/dist/css/tom-select.css" rel="stylesheet">

}

<ul class="breadcrumb">
    <li class="breadcrumb-item text-warning"><a href="#" class="text-warning">MANAGEMENT</a></li>
    <li class="breadcrumb-item text-gray-900 active">SUPPLY</li>
</ul>

<h1 class="page-header">
    List Supply <small>page header description goes here...</small>
</h1>

<button type="button" class="btn bg-warning me-2 " data-bs-toggle="modal" data-bs-target="#newSUBZONA">New Supply</button>

<div class="card">
    <div class="card-body">
        <table id="datatableSUBZONA" class="table text-nowrap">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Description</th>
                    <th>Zone</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count() > 0)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.cod_subzona</td>
                            <td>@item.descripcion_subzona</td>
                            <td>@item.zona.cod_zona</td>
                            <td>
                                <a class="btn btn-outline-warning btn-sm" href="#" role="button" onclick="ModalEditSUBZONA(@item.id,'@item.cod_subzona','@item.descripcion_subzona',@item.zona_id);">Edit</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>


<!-- modal New Project -->
<div class="modal fade" id="newSUBZONA">
    <div class="modal-dialog modal-lg">
        <form method="post" id="formNewSUBZONA">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">New Sub Zone</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="cod_subzona">Sub Zone Code</label>
                        <input type="text" class="form-control" id="cod_subzona" placeholder="Enter the sub zone code" autocomplete="off" style="text-transform:uppercase;" />
                    </div>

                    <div class="form-group">
                        <label for="descripcion_subzona">Sub Zone Description</label>
                        <input type="text" class="form-control" id="descripcion_subzona" placeholder="Enter the sub zone description" autocomplete="off" style="text-transform:uppercase;" />
                    </div>

                    <div class="form-group">
                        <label for="zona_id">Zone</label>

                        <select id="zona_id" placeholder="Select a zone..." autocomplete="off" style="text-transform:uppercase;">
                            <option value="">Select a customer...</option>
                            @foreach (var cust in ViewBag.zonaslist)
                            {
                                <option value="@cust.id">@cust.cod_zona  @cust.descripcion_zona</option>
                            }
                        </select>


                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn bg-dark text-white" id="btnGrabarSUBZONA">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- modal Edit Contact -->
<div class="modal fade" id="editSUBZONA">
    <div class="modal-dialog modal-lg">
        <form method="post" id="formEditSUBZONA">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Sub Zone</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="hidden" id="IdSUBZONA" />
                        <input type="hidden" id="IdZONA" />
                    </div>
                    <div class="form-group">
                        <label for="E_cod_subzona">Sub Zone Code</label>
                        <input type="text" class="form-control" id="E_cod_subzona" placeholder="Enter the sub zone code" autocomplete="off" style="text-transform:uppercase;" />
                    </div>

                    <div class="form-group">
                        <label for="E_descripcion_subzona">Sub Zone Description</label>
                        <input type="text" class="form-control" id="E_descripcion_subzona" placeholder="Enter the sub zone description" autocomplete="off" style="text-transform:uppercase;" />
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn bg-dark text-white" id="btnEditSUBZONA">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts{

    <script src="~/lib/highlight.js/highlight.min.js"></script>
    <script src="~/js/demo/highlightjs.demo.js"></script>
    <script src="~/lib/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/dataTables.buttons.min.js"></script>

    @*<script src="https://cdn.datatables.net/buttons/2.1.0/js/dataTables.buttons.min.js"></script>*@

    <script src="~/lib/datatables.net-buttons/js/buttons.colVis.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/jszip.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/pdfmake.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/vfs_fonts.js"></script>
    <script src="~/lib/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>

    <script src="~/lib/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
    <script src="~/lib/bootstrap-table/dist/bootstrap-table.min.js"></script>
    <script src="~/js/demo/table-plugins.demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tom-select@2.0.0/dist/js/tom-select.complete.min.js"></script>


    <script>

        ///// DATATABLE /////////////

        $('#datatableSUBZONA').DataTable({
            dom: "<'row mb-3'<'col-sm-4'l><'col-sm-12 text-end'<'d-flex justify-content-end'fB>>>t<'d-flex align-items-center'<'me-auto'i><'mb-0'p>>",
            lengthMenu: [ 10, 20, 30, 40, 50 ],
            responsive: true,
            buttons: [
              { extend: 'print', className: 'btn btn-default' },
              { extend: 'pdfHtml5', className: 'btn btn-default' },
              { extend: 'excelHtml5', className: 'btn btn-default' }
            ]
          });

         ///// FUNCIONES  ///////

         function ModalEditSUBZONA(xid, xcod, xdescripcion, xidzona) {
            $("#IdSUBZONA").val(xid);
            $("#E_cod_subzona").val(xcod);
             $("#E_descripcion_subzona").val(xdescripcion);
             $("#IdZONA").val(xidzona);
            $('#editSUBZONA').modal('show');
        }


        $(document).ready(function () {

            new TomSelect("#zona_id",{
	        create: false,
	        sortField: {
		        field: "text",
		        direction: "asc"
	        }
            });


              $('#btnGrabarSUBZONA').click(function (event) {

                  var form = $("#formNewSUBZONA");

                if (form[0].checkValidity() === false) {
                    event.preventDefault()
                    event.stopPropagation()
                    form.addClass('was-validated');
                }
                else {

                    if ($('#cod_subzona').val() == "") {
                        alert("You must enter the sub zone code");
                        $('#cod_subzona').focus();
                        return;
                    }

                    if ($('#descripcion_subzona').val() == "") {
                        alert('You must enter the sub zone description');
                        $('#descripcion_subzona').focus();
                        return;
                    }

                     if ($('#zona_id').val() == "") {
                        alert('You must select the zone');
                        $('#zone_id').focus();
                        return;
                    }

                }

                let SUBZONA = {
                    "zona_id": $('#zona_id').val(),
                    "cod_subzona": $('#cod_subzona').val().toUpperCase(),
                    "descripcion_subzona": $('#descripcion_subzona').val().toUpperCase()
                };

                  var data = JSON.stringify(SUBZONA);

                $.ajax({
                    type: "POST",
                    url: '/Management/AddSUBZONA',
                    contentType: 'application/json;charset=utf-8',
                    dataType: 'json',
                    async: true,
                    data: data,
                    success: function (result) {
                        console.log(result)
                    }
                })
                    .done(function (result) {
                        if (result.exito) {
                            //alert(result.mensaje);
                            $('#newSUBZONA').modal('hide');
                            location.reload();
                        }
                        else {
                            alert('Problems add a sub zone, we ask that you try again!');
                        }

                    })
                    .fail(function (jqXHR, textStatus, errorThrow) {
                        var err = "Error: " + textStatus + " " + errorThrow;
                        console.log(err);
                    })

            });


             $('#btnEditSUBZONA').click(function (event) {

                 var form = $("#formEditSUBZONA");

                if (form[0].checkValidity() === false) {
                    event.preventDefault()
                    event.stopPropagation()
                    form.addClass('was-validated');
                }
                else {

                    if ($('#E_cod_subzona').val() == "") {
                        alert("You must enter the sub zone code");
                        $('#E_cod_subzona').focus();
                        return;
                    }

                    if ($('#E_descripcion_subzona').val() == "") {
                        alert('You must enter the sub zone description');
                        $('#E_descripcion_subzona').focus();
                        return;
                    }

                }

                 let SUBZONA = {
                    "id": $('#IdSUBZONA').val(),
                    "zona_id": $('#IdZONA').val(),
                     "cod_subzona": $('#E_cod_subzona').val().toUpperCase(),
                     "descripcion_subzona": $('#E_descripcion_subzona').val().toUpperCase()
                };

                 var data = JSON.stringify(SUBZONA);

                $.ajax({
                    type: "POST",
                    url: '/Management/EditSUBZONA',
                    contentType: 'application/json;charset=utf-8',
                    dataType: 'json',
                    async: true,
                    data: data,
                    success: function (result) {
                        console.log(result)
                    }
                })
                    .done(function (result) {
                        if (result.exito) {
                            //alert(result.mensaje);
                            $('#editSUBZONA').modal('hide');
                            location.reload();
                        }
                        else {
                            alert('Problems creating a edit sub zone, we ask that you try again!');
                        }

                    })
                    .fail(function (jqXHR, textStatus, errorThrow) {
                        var err = "Error: " + textStatus + " " + errorThrow;
                        console.log(err);
                    })


            });



        });



    </script>
}
