@using Domain.Entities;
@model IEnumerable<SOLDOZA_MST_GRL_CLIENTES>
@{
    ViewData["Title"] = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="~/lib/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-table/dist/bootstrap-table.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/tom-select@2.0.0/dist/css/tom-select.css" rel="stylesheet">

    <style>
       /* remove validation icons */
        .form-control.is-invalid, .was-validated .form-control:invalid {
            background-image: none !important;
            border-color: #ced4da;
            padding-right: 0.75em;
        }

        .form-control.is-valid, .was-validated .form-control:valid {
            background-image: none !important;
            border-color: #ced4da;
            padding-right: 0.75em;
        }
    </style>
}

<ul class="breadcrumb">
    <li class="breadcrumb-item text-warning"><a href="#" class="text-warning">MANAGEMENT</a></li>
    <li class="breadcrumb-item text-gray-900 active">CUSTOMERS</li>
</ul>

<h1 class="page-header">
    List Customers <small>page header description goes here...</small>
</h1>

<button type="button" class="btn bg-warning me-2" onclick="ModalNewCustomer();">New Customer</button>

<div class="card">
	<div class="card-body">
<table id="datatableCustomer" class="table text-nowrap w-100">
     <thead>
         <tr>
             <th>Code</th>
             <th>Customer Name</th>
             <th>Type</th>
             <th>Number Document</th>
             <th>Country</th>
             <th></th>
         </tr>
     </thead>
     <tbody>
        @if (Model.Count() > 0)
        {
            foreach(var item in Model){
                <tr>
                    <td>@item.cod_cliente</td>
                    <td>@item.nombre_cliente</td>
                    <td>@item.tipodocumento.abrev_tipo_documento</td>
                    <td>@item.nrodoc_cliente</td>
                    <td>@item.pais</td>
                    <td>
                        <a class="btn btn-outline-warning btn-sm" href="@Url.Action("CustomerProjects","Management", new {id=@item.id})" role="button">Details</a> 
                        <a class="btn btn-outline-warning btn-sm" href="#" role="button" onclick="ModalEditCustomer(@item.id,'@item.cod_cliente',@item.tipo_documento_id,'@item.nrodoc_cliente','@item.nombre_cliente','@item.direccion_cliente','@item.pais','@item.ciudad','@item.telefono','@item.email');">Edit</a>  
                        <a class="btn btn-outline-warning btn-sm" href="@Url.Action("CustomerProjects","Management", new {id=@item.id})" role="button">Projects</a> 
                        <a class="btn btn-outline-warning btn-sm" href="@Url.Action("CustomerContacts","Management", new{id=@item.id})" role="button">Contacts</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="6">No records to display</td>
            </tr>

        }
    </tbody>
</table>



    </div>
</div>


<!-- modal New Customer -->
<div class="modal fade" id="newCustomer">
  <div class="modal-dialog modal-lg">
    <form method="post" id="formNewCustomer" novalidate> 
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">New Customer</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body">
            <div class="form-group">
                <label for="cod_cliente">Customer Code</label>
                <input type="text" class="form-control" id="cod_cliente" autocomplete="off" style="text-transform:uppercase;" required/>
                <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="form-group">
                <label for="nombre_cliente">Customer Name</label>
                <input type="text" class="form-control" id="nombre_cliente" autocomplete="off" style="text-transform:uppercase;" required/>
                <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="form-group">
                <label for="tipo_documento_ID">Document Type</label>
                <select class="form-control" id="tipo_documento_ID" required>
                <option value="" disabled selected>SELECT TYPE</option>
                    @foreach (var item in ViewBag.typeDocumentsList) {
                        <option value="@item.id">@item.abrev_tipo_documento</option>
                    }
                </select>
                <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="form-group">
                <label for="nrodoc_cliente">Number Document</label>
                <input type="text" class="form-control" id="nrodoc_cliente" autocomplete="off" style="text-transform:uppercase;" required />
                <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="form-group">
                <label for="direccion_cliente">Address</label>
                <input type="text" class="form-control" id="direccion_cliente" autocomplete="off" style="text-transform:uppercase;" required/>
                <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="form-group">
                 <label for="pais">Country</label>
                <select id="pais" placeholder="SELECT A COUNTRY..." required autocomplete="off" style="text-transform:uppercase;">
                    <option value="">SELECT A COUNTRY...</option> 
                    @foreach (var item in ViewBag.CountriesList) {
                            <option value="@item.nombre_pais">@item.nombre_pais</option>
                     }
		        </select>
                <div class="invalid-feedback">Please fill out this field.</div>

            </div>
            <div class="form-group">
                <label for="city">City</label>
                <input type="text" class="form-control" id="ciudad" autocomplete="off" style="text-transform:uppercase;"/>
            </div>
             
            <div class="form-group">
                <label for="telefono">Phone</label>
                <input type="text" class="form-control" id="telefono" autocomplete="off" style="text-transform:uppercase;"/>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email" autocomplete="off"/>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn bg-dark text-white" id="btnGrabar">
                <span id="loaderN" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display:none;"></span> Save
            </button>
          </div>
        </div>
    </form>
  </div>
</div>


<!-- modal Edit Customer -->
<div class="modal fade" id="editCustomer">
  <div class="modal-dialog modal-lg">
    <form method="post" id="formEditCustomer" class="was-validated"> 
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Edit Customer</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body">
              <input type="hidden" id="IdCustomer" />
            <div class="form-group">
                <label for="E_cod_cliente">Customer Code</label>
                <input type="text" class="form-control" id="E_cod_cliente" placeholder="Enter the customer code" autocomplete="off" style="text-transform:uppercase;"/>
                @*<div class="valid-feedback">Valid.</div>*@
                <div class="invalid-feedback">Please fill out this field.</div>
            </div>
             <div class="form-group">
                <label for="E_tipo_documento_ID">Document Type</label>
                <select class="form-control" id="E_tipo_documento_ID">
                <option value="" disabled selected>Select type</option>
                    @foreach (var item in ViewBag.typeDocumentsList) {
                        <option value="@item.id">@item.abrev_tipo_documento</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="E_nrodoc_cliente">Number Document</label>
                <input type="text" class="form-control" id="E_nrodoc_cliente" placeholder="Enter the number document" autocomplete="off" style="text-transform:uppercase;"/>
            </div>

            <div class="form-group">
                <label for="E_nombre_cliente">Customer Name</label>
                <input type="text" class="form-control" id="E_nombre_cliente" placeholder="Enter the customer name" autocomplete="off" style="text-transform:uppercase;"/>
            </div>
            <div class="form-group">
                <label for="E_direccion_cliente">Address</label>
                <input type="text" class="form-control" id="E_direccion_cliente" placeholder="Enter the address" autocomplete="off" style="text-transform:uppercase;"/>
            </div>
            
            <div class="form-group">
                 <label for="E_pais">Country</label>
                 <select id="E_pais" placeholder="Select a country..." autocomplete="off" style="text-transform:uppercase;">
			        <option value="">Select a country...</option>
                     @foreach (var item in ViewBag.CountriesList) {
                            <option value="@item.nombre_pais">@item.nombre_pais</option>
                        }
		        </select>

            </div>

            <div class="form-group">
                <label for="E_ciudad">City</label>
                <input type="text" class="form-control" id="E_ciudad" placeholder="Enter the country" autocomplete="off" style="text-transform:uppercase;"/>
            </div>

            <div class="form-group">
                <label for="E_telefono">Phone</label>
                <input type="text" class="form-control" id="E_telefono" placeholder="Enter the phone" autocomplete="off" style="text-transform:uppercase;"/>
            </div>
            <div class="form-group">
                <label for="E_email">Email</label>
                <input type="text" class="form-control" id="E_email" placeholder="Enter the email" autocomplete="off"/>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn bg-dark text-white" id="btnEditar">
                <span id="loader" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display:none;"></span> Save
            </button>
          </div>
        </div>
    </form>
  </div>
</div>

@section Scripts{

    <script src="~/lib/highlight.js/highlight.min.js"></script>
    <script src="~/js/demo/highlightjs.demo.js"></script>
    <script src="~/lib/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/dataTables.buttons.min.js"></script>

    @*<script src="https://cdn.datatables.net/buttons/2.1.0/js/dataTables.buttons.min.js"></script>*@

    <script src="~/lib/datatables.net-buttons/js/buttons.colVis.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/jszip.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/pdfmake.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/vfs_fonts.js"></script>
    <script src="~/lib/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>

    <script src="~/lib/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
    <script src="~/lib/bootstrap-table/dist/bootstrap-table.min.js"></script>
    <script src="~/js/demo/table-plugins.demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tom-select@2.0.0/dist/js/tom-select.complete.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
   
    <script>

        ///// DATATABLE /////////////

          $('#datatableCustomer').DataTable({
            dom: "<'row mb-3'<'col-sm-4'l><'col-sm-12 text-end'<'d-flex justify-content-end'fB>>>t<'d-flex align-items-center'<'me-auto'i><'mb-0'p>>",
            lengthMenu: [ 10, 20, 30, 40, 50 ],
            responsive: true,
            buttons: [ 
              { extend: 'print', className: 'btn btn-default' },
              { extend: 'pdfHtml5', className: 'btn btn-default' },
              { extend: 'excelHtml5', className: 'btn btn-default' }
            ]
          });
         
         ///// FUNCIONES  ///////

        function ModalEditCustomer(xid, xcod, xtdID, xnrodoc, xnombre, xdireccion, xpais, xciudad, xtelefono, xemail) {
            $("#IdCustomer").val(xid);
            $("#E_cod_cliente").val(xcod);
            $("#E_tipo_documento_ID").val(xtdID);
            $("#E_nrodoc_cliente").val(xnrodoc);
            $("#E_nombre_cliente").val(xnombre);
            $("#E_direccion_cliente").val(xdireccion);

            control.setValue(xpais);

            $("#E_ciudad").val(xciudad);
            $("#E_telefono").val(xtelefono);
            $("#E_email").val(xemail);
            $('#editCustomer').modal('show');
        }

        function ModalNewCustomer() {
            var form = $("#formNewCustomer");
            form[0].reset();
            form.get(0).reset();
            form.removeClass('was-validated');
            controlN.wrapper.classList.toggle('is-invalid',controlN.isValid);
            $('#newCustomer').modal('show');
        }

        $(document).ready(function () {

            controlN= new TomSelect("#pais",{
	            create: false,
	            sortField: {
		            field: "text",
		            direction: "asc"
	            },
	            onChange:function(){
		            this.wrapper.classList.toggle('is-invalid',!this.isValid);
	            }
            });

            control=new TomSelect("#E_pais",{
	            create: false,
	            sortField: {
		            field: "text",
		            direction: "asc"
	            },
	            onChange:function(){
		            this.wrapper.classList.toggle('is-invalid',!this.isValid);
	            }
            });

            
            $('#newCustomer').on('shown.bs.modal', function(){
                $('cod_cliente').focus();
            });

            $('#editCustomer').on('shown.bs.modal', function () {
                $('#E_cod_cliente').focus();
            });

            $('#btnGrabar').click(function (event) {

                var form = $("#formNewCustomer");
                form.addClass('was-validated');

                controlN.wrapper.classList.toggle('is-invalid',!controlN.isValid);

                if (form[0].checkValidity() === false) {
                    event.preventDefault()
                    event.stopPropagation()
                    return;
                }
 
                let customer = {
                    "cod_cliente": $('#cod_cliente').val().toUpperCase(),
                    "nombre_cliente": $('#nombre_cliente').val().toUpperCase(),
                    "direccion_cliente": $('#direccion_cliente').val().toUpperCase(),
                    "tipo_documento_ID": $('#tipo_documento_ID').val(),
                    "nrodoc_cliente": $('#nrodoc_cliente').val().toUpperCase(),
                    "pais": $('#pais').val().toUpperCase(),
                    "ciudad": $('#ciudad').val().toUpperCase(),
                    "telefono": $('#telefono').val().toUpperCase(),
                    "email": $('#email').val().toLowerCase()
                };

                var data = JSON.stringify(customer);

                $.ajax({
                    type: "POST",
                    url: '/Management/AddCustomer',
                    contentType: 'application/json;charset=utf-8',
                    dataType: 'json',
                    async: true,
                    data: data,
                    beforeSend: function () {
                        $('#loaderN').show();
                    },
                    success: function (result) {
                        if (result.exito) {
                            $('#newCustomer').modal('hide');
                            swal("Good job!", result.mensaje, "success").then(function() {
                                location.reload();
                            });
                                                
                        }
                        else {
                            swal({
                              icon: "error",
                              text: "Problems creating a customer, we ask that you try again!",
                            });
                        }
                    },
                    complete: function () {
                        $('#loaderN').hide();
                    },
                }).fail(function (jqXHR, textStatus, errorThrow) {
                        var err = "Error: " + textStatus + " " + errorThrow;
                        console.log(err);
                    })


            });



            $('#btnEditar').click(function (event) {
                
                var form = $("#formEditCustomer");
                form.addClass('was-validated');
                control.wrapper.classList.toggle('is-invalid',!control.isValid);

                if (form[0].checkValidity() === false) {
                    event.preventDefault()
                    event.stopPropagation()
                    return;
                }
                
                let customer = {
                    "Id": $('#IdCustomer').val(),
                    "cod_cliente": $('#E_cod_cliente').val().toUpperCase(),
                    "nombre_cliente": $('#E_nombre_cliente').val().toUpperCase(),
                    "direccion_cliente": $('#E_direccion_cliente').val().toUpperCase(),
                    "tipo_documento_ID": $('#E_tipo_documento_ID').val(),
                    "nrodoc_cliente": $('#E_nrodoc_cliente').val().toUpperCase(),
                    "pais": $('#E_pais').val().toUpperCase(),
                    "ciudad": $('#E_ciudad').val().toUpperCase(),
                    "telefono": $('#E_telefono').val().toUpperCase(),
                    "email": $('#E_email').val().toLowerCase()
                };

                var data = JSON.stringify(customer);

                $.ajax({
                    type: "POST",
                    url: '/Management/EditCustomer',
                    contentType: 'application/json;charset=utf-8',
                    dataType: 'json',
                    data: data,
                    beforeSend: function () {
                        $('#loader').show();
                    },
                    success: function (result) {
                        if (result.exito) {
                            $('#editCustomer').modal('hide');
                            swal("Good job!", result.mensaje, "success").then(function() {
                                location.reload();
                            });
                                                
                        }
                        else {
                            swal({
                              icon: "error",
                              text: "Problems editing a customer, we ask that you try again!",
                            });
                        }
                    },
                    complete: function () {
                        $('#loader').hide();
                    },
                }).fail(function (jqXHR, textStatus, errorThrow) {
                        var err = "Error: " + textStatus + " " + errorThrow;
                        console.log(err);
                  })


            });


        });
        
        

    </script>
}

