@using Domain.Entities;
@model IEnumerable<SOLDOZA_MST_DIS_SOLDADURA>
@{
    ViewData["Title"] = "Diseño Soldadura";
    //ViewData["Title"] = "Non-Destructive Test Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Styles {
    <link href="~/lib/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-table/dist/bootstrap-table.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/tom-select@2.0.0/dist/css/tom-select.css" rel="stylesheet">

}

<ul class="breadcrumb">
    <li class="breadcrumb-item text-warning"><a href="#" class="text-warning">MANAGEMENT</a></li>
    <li class="breadcrumb-item text-gray-900 active">Welding Design</li>
</ul>

<h1 class="page-header">
    List Welding Design <small>page header description goes here...</small>
</h1>

<button type="button" class="btn bg-warning me-2 " data-bs-toggle="modal" data-bs-target="#newDisSol">New Welding Design</button>

<div class="card">
    <div class="card-body">
        <table id="datatableDisSol" class="table text-nowrap">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count() > 0)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.cod_dis_soldadura</td>
                            <td>@item.descripcion_dis_soldadura</td>
                            <td>
                                <a class="btn btn-outline-warning btn-sm" href="#" role="button" onclick="ModalEditDisSol(@item.id,'@item.cod_dis_soldadura','@item.descripcion_dis_soldadura');">Edit</a>
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>


<!-- modal New Project -->
<div class="modal fade" id="newDisSol">
    <div class="modal-dialog modal-lg">
        <form method="post" id="formNewDisSol">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">New Welding Design</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="cod_dis_soldadura">Welding Design Code</label>
                        <input type="text" class="form-control" id="cod_dis_soldadura" placeholder="Enter the welding design code" autocomplete="off" style="text-transform:uppercase;" />
                    </div>

                    <div class="form-group">
                        <label for="descripcion_dis_soldadura">Descripcion Welding Design</label>
                        <input type="text" class="form-control" id="descripcion_dis_soldadura" placeholder="Enter the Welding design description" autocomplete="off" style="text-transform:uppercase;" />
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn bg-dark text-white" id="btnGrabarDisSol">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- modal Edit Contact -->
<div class="modal fade" id="EditDisSol">
    <div class="modal-dialog modal-lg">
        <form method="post" id="formEditDisSol">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Welding Design</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="hidden" id="IdDisSol" />
                    </div>

                    <div class="form-group">
                        <label for="E_cod_dis_soldadura">Welding Design Code</label>
                        <input type="text" class="form-control" id="E_cod_dis_soldadura" placeholder="Enter the welding design code" autocomplete="off" style="text-transform:uppercase;" />
                    </div>

                    <div class="form-group">
                        <label for="E_descripcion_dis_soldadura">Descripcion Welding Design</label>
                        <input type="text" class="form-control" id="E_descripcion_dis_soldadura" placeholder="Enter the welding design description" autocomplete="off" style="text-transform:uppercase;" />
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn bg-dark text-white" id="btnEditDisSol">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts{

    <script src="~/lib/highlight.js/highlight.min.js"></script>
    <script src="~/js/demo/highlightjs.demo.js"></script>
    <script src="~/lib/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/dataTables.buttons.min.js"></script>

    @*<script src="https://cdn.datatables.net/buttons/2.1.0/js/dataTables.buttons.min.js"></script>*@

    <script src="~/lib/datatables.net-buttons/js/buttons.colVis.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/jszip.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/pdfmake.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/vfs_fonts.js"></script>
    <script src="~/lib/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>

    <script src="~/lib/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
    <script src="~/lib/bootstrap-table/dist/bootstrap-table.min.js"></script>
    <script src="~/js/demo/table-plugins.demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tom-select@2.0.0/dist/js/tom-select.complete.min.js"></script>


    <script>

        ///// DATATABLE /////////////

        $('#datatableDisSol').DataTable({
            dom: "<'row mb-3'<'col-sm-4'l><'col-sm-12 text-end'<'d-flex justify-content-end'fB>>>t<'d-flex align-items-center'<'me-auto'i><'mb-0'p>>",
            lengthMenu: [ 10, 20, 30, 40, 50 ],
            responsive: true,
            buttons: [
              { extend: 'print', className: 'btn btn-default' },
              { extend: 'pdfHtml5', className: 'btn btn-default' },
              { extend: 'excelHtml5', className: 'btn btn-default' }
            ]
          });

         ///// FUNCIONES  ///////

        function ModalEditDisSol(xid, xcod, xdescripcion) {
            $("#IdDisSol").val(xid);
            $("#E_cod_dis_soldadura").val(xcod);
            $("#E_descripcion_dis_soldadura").val(xdescripcion);
            $('#EditDisSol').modal('show');
        }


        $(document).ready(function () {



            $('#btnGrabarDisSol').click(function (event) {

                var form = $("#formNewDisSol");

                if (form[0].checkValidity() === false) {
                    event.preventDefault()
                    event.stopPropagation()
                    form.addClass('was-validated');
                }
                else {

                    if ($('#cod_dis_soldadura').val() == "") {
                        alert("You must enter the welding design code");
                        $('#cod_dis_soldadura').focus();
                        return;
                    }

                    if ($('#descripcion_dis_soldadura').val() == "") {
                        alert('You must enter the welding design description');
                        $('#descripcion_dis_soldadura').focus();
                        return;
                    }


                }

                let DisSol = {
                    "cod_dis_soldadura": $('#cod_dis_soldadura').val().toUpperCase(),
                    "descripcion_dis_soldadura": $('#descripcion_dis_soldadura').val().toUpperCase()
                };
                var data = JSON.stringify(DisSol);

                $.ajax({
                    type: "POST",
                    url: '/Management/AddDisSol',
                    contentType: 'application/json;charset=utf-8',
                    dataType: 'json',
                    async: true,
                    data: data,
                    success: function (result) {
                        console.log(result)
                    }
                })
                    .done(function (result) {
                        if (result.exito) {
                            alert(result.mensaje);
                            $('#newDisSol').modal('hide');
                            location.reload();
                        }
                        else {
                            alert('Problems add a welding design, we ask that you try again!');
                        }

                    })
                    .fail(function (jqXHR, textStatus, errorThrow) {
                        var err = "Error: " + textStatus + " " + errorThrow;
                        console.log(err);
                    })

            });


            $('#btnEditDisSol').click(function (event) {

                var form = $("#formEditDisSol");

                if (form[0].checkValidity() === false) {
                    event.preventDefault()
                    event.stopPropagation()
                    form.addClass('was-validated');
                }
                else {

                    if ($('#E_cod_dis_soldadura').val() == "") {
                        alert("You must enter the welding design code");
                        $('#E_cod_dis_soldadura').focus();
                        return;
                    }

                    if ($('#E_descripcion_dis_soldadura').val() == "") {
                        alert('You must enter the welding design description');
                        $('#E_descripcion_dis_soldadura').focus();
                        return;
                    }
                }

                let DisSol = {
                   "id": $('#IdDisSol').val(),
                    "cod_dis_soldadura": $('#E_cod_dis_soldadura').val().toUpperCase(),
                    "descripcion_dis_soldadura": $('#E_descripcion_dis_soldadura').val().toUpperCase()
                };


                var data = JSON.stringify(DisSol);

                $.ajax({
                    type: "POST",
                    url: '/Management/EditDisSol',
                    contentType: 'application/json;charset=utf-8',
                    dataType: 'json',
                    async: true,
                    data: data,
                    success: function (result) {
                        console.log(result)
                    }
                })
                    .done(function (result) {
                        if (result.exito) {
                            alert(result.mensaje);
                            $('#EditDisSol').modal('hide');
                            location.reload();
                        }
                        else {
                            alert('Problems creating a edit welding design, we ask that you try again!');
                        }

                    })
                    .fail(function (jqXHR, textStatus, errorThrow) {
                        var err = "Error: " + textStatus + " " + errorThrow;
                        console.log(err);
                    })


            });



        });



    </script>
}
