@using Domain.Entities;
@model IEnumerable<SOLDOZA_MST_GRL_INSTALACION>
@{
    ViewData["Title"] = "Instalaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Styles {
    <link href="~/lib/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-table/dist/bootstrap-table.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/tom-select@2.0.0/dist/css/tom-select.css" rel="stylesheet">
    <style>
        /* remove validation icons */
        .form-control.is-invalid, .was-validated .form-control:invalid {
            background-image: none !important;
            border-color: #ced4da;
            padding-right: 0.75em;
        }

        .form-control.is-valid, .was-validated .form-control:valid {
            background-image: none !important;
            border-color: #ced4da;
            padding-right: 0.75em;
        }
    </style>
}

<ul class="breadcrumb">
    <li class="breadcrumb-item text-warning"><a href="#" class="text-warning">MANAGEMENT</a></li>
    <li class="breadcrumb-item text-gray-900 active">SUPPLY</li>
</ul>

<h1 class="page-header">
    List Installation <small>page header description goes here...</small>
</h1>

<button type="button" class="btn bg-warning me-2 " onclick="ModalNewINSTALACION();">New Installation</button>

<div class="card">
    <div class="card-body">
        <table id="datatableINSTALACION" class="table text-nowrap">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Description</th>
                    <th>Installation Type</th>
                    <th>Proyecto</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count() > 0)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.cod_instalacion</td>
                            <td>@item.descripcion_instalacion</td>
                            <td>@item.insta_tipo.cod_tipo_instalacion</td>
                            <td>@item.proyectos.cod_proyecto</td>
                            <td>
                                <a class="btn btn-outline-warning btn-sm" href="#" role="button" onclick="ModalEditINSTALACION(@item.id,'@item.cod_instalacion','@item.descripcion_instalacion',@item.tipo_instalacion_id,@item.proyecto_id);">Edit</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>


<!-- modal New Project -->
<div class="modal fade" id="newINSTALACION">
    <div class="modal-dialog modal-lg">
        <form method="post" id="formNewINSTALACION" novalidate>
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">New Installation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="cod_instalacion">Installation Code</label>
                        <input type="text" class="form-control" id="cod_instalacion" placeholder="Enter the installation code" autocomplete="off" style="text-transform:uppercase;" required />
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="form-group">
                        <label for="descripcion_instalacion">installation Description</label>
                        <input type="text" class="form-control" id="descripcion_instalacion" placeholder="Enter the installation code" autocomplete="off" style="text-transform:uppercase;" required />
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="form-group">
                        <label for="tipo_instalacion_id">Installation Type</label>

                        <select id="tipo_instalacion_id" placeholder="Select a installation type..." autocomplete="off" style="text-transform:uppercase;" required>
                            <option value="">Select a installation type...</option>
                            @foreach (var cust in ViewBag.instalacion_tipo)
                            {
                                <option value="@cust.id">@cust.cod_tipo_instalacion  @cust.descripcion_tipo_instalacion</option>
                            }
                        </select>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="form-group">
                        <label for="proyecto_id">Project</label>

                        <select id="proyecto_id" placeholder="Select a project..." autocomplete="off" style="text-transform:uppercase;" required>
                            <option value="">Select a project...</option>
                            @foreach (var cust in ViewBag.proyecto)
                            {
                                <option value="@cust.id">@cust.cod_proyecto  @cust.descripcion_proyecto</option>
                            }
                        </select>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn bg-dark text-white" id="btnGrabarINSTALACION">
                        <span id="loaderN" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display:none;"></span> Save
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- modal Edit Contact -->
<div class="modal fade" id="editINSTALACION">
    <div class="modal-dialog modal-lg">
        <form method="post" id="formEditINSTALACION" novalidate>
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Installation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="hidden" id="IdINSTALACION" />
                    </div>

                    <div class="form-group">
                        <label for="E_cod_instalacion">Installation Code</label>
                        <input type="text" class="form-control" id="E_cod_instalacion" placeholder="Enter the installation code" autocomplete="off" style="text-transform:uppercase;" required />
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="form-group">
                        <label for="E_descripcion_instalacion">Installation Description</label>
                        <input type="text" class="form-control" id="E_descripcion_instalacion" placeholder="Enter the installation description" autocomplete="off" style="text-transform:uppercase;" required />
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="form-group">
                        <label for="E_tipo_instalacion_id">Installation Type</label>

                        <select id="E_tipo_instalacion_id" placeholder="Select a installation type..." autocomplete="off" style="text-transform:uppercase;" required>
                            <option value="">Select a installation type...</option>
                            @foreach (var cust in ViewBag.instalacion_tipo)
                            {
                                <option value="@cust.id">@cust.cod_tipo_instalacion  @cust.descripcion_tipo_instalacion</option>
                            }
                        </select>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="form-group">
                        <label for="E_proyecto_id">Project</label>

                        <select id="E_proyecto_id" placeholder="Select a project..." autocomplete="off" style="text-transform:uppercase;" required>
                            <option value="">Select a project...</option>
                            @foreach (var cust in ViewBag.proyecto)
                            {
                                <option value="@cust.id">@cust.cod_proyecto  @cust.descripcion_proyecto</option>
                            }
                        </select>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn bg-dark text-white" id="btnEditINSTALACION">
                        <span id="loaderE" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display:none;"></span> Save
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts{

    <script src="~/lib/highlight.js/highlight.min.js"></script>
    <script src="~/js/demo/highlightjs.demo.js"></script>
    <script src="~/lib/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.colVis.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/jszip.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/pdfmake.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/vfs_fonts.js"></script>
    <script src="~/lib/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>

    <script src="~/lib/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
    <script src="~/lib/bootstrap-table/dist/bootstrap-table.min.js"></script>
    <script src="~/js/demo/table-plugins.demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tom-select@2.0.0/dist/js/tom-select.complete.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script>

        ///// DATATABLE /////////////

        $('#datatableINSTALACION').DataTable({
            dom: "<'row mb-3'<'col-sm-4'l><'col-sm-12 text-end'<'d-flex justify-content-end'fB>>>t<'d-flex align-items-center'<'me-auto'i><'mb-0'p>>",
            lengthMenu: [10, 20, 30, 40, 50],
            responsive: true,
            buttons: [
                { extend: 'print', className: 'btn btn-default' },
                { extend: 'pdfHtml5', className: 'btn btn-default' },
                { extend: 'excelHtml5', className: 'btn btn-default' }
            ]
        });

        ///// FUNCIONES  ///////

        function ModalEditINSTALACION(xid, xcod, xdescripcion, xinsta_tipo, xproyecto) {
            $("#IdINSTALACION").val(xid);
            $("#E_cod_instalacion").val(xcod);
            $("#E_descripcion_instalacion").val(xdescripcion);
            controlEinsta_tipo.setValue(xinsta_tipo);
            controlEproyecto.setValue(xproyecto);
            $('#editINSTALACION').modal('show');
        }

        function ModalNewINSTALACION() {
            var form = $("#formNewINSTALACION");
            form[0].reset();
            form.get(0).reset();
            form.removeClass('was-validated');
            controlNinsta_tipo.wrapper.classList.toggle('is-invalid', controlNinsta_tipo.isValid);
            controlNproyecto.wrapper.classList.toggle('is-invalid', controlNproyecto.isValid);
            $('#newINSTALACION').modal('show');
        }

        $(document).ready(function () {

            $('#newINSTALACION').on('shown.bs.modal', function () {
                $('#cod_instalacion').focus();
            });

            controlNinsta_tipo = new TomSelect("#tipo_instalacion_id", {
                create: false,
                sortField: {
                    field: "text",
                    direction: "asc"
                },
                onChange: function () {
                    this.wrapper.classList.toggle('is-invalid', !this.isValid);
                }
            });

            controlEinsta_tipo = new TomSelect("#E_tipo_instalacion_id", {
                create: false,
                sortField: {
                    field: "text",
                    direction: "asc"
                },
                onChange: function () {
                    this.wrapper.classList.toggle('is-invalid', !this.isValid);
                }
            });

            controlNproyecto = new TomSelect("#proyecto_id", {
                create: false,
                sortField: {
                    field: "text",
                    direction: "asc"
                },
                onChange: function () {
                    this.wrapper.classList.toggle('is-invalid', !this.isValid);
                }
            });

            controlEproyecto = new TomSelect("#E_proyecto_id", {
                create: false,
                sortField: {
                    field: "text",
                    direction: "asc"
                },
                onChange: function () {
                    this.wrapper.classList.toggle('is-invalid', !this.isValid);
                }
            });

            //});
            $('#btnGrabarINSTALACION').click(function (event) {

                var form = $("#formNewINSTALACION");
                form.addClass('was-validated');

                controlNinsta_tipo.wrapper.classList.toggle('is-invalid', !controlNinsta_tipo.isValid);
                controlNproyecto.wrapper.classList.toggle('is-invalid', !controlNproyecto.isValid);

                if (form[0].checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                    return;
                }

                let INSTALACION = {
                    "proyecto_id": $('#proyecto_id').val(),
                    "tipo_instalacion_id": $('#tipo_instalacion_id').val(),
                    "cod_instalacion": $('#cod_instalacion').val(),
                    "descripcion_instalacion": $('#descripcion_instalacion').val()
                };

                var data = JSON.stringify(INSTALACION);

                $.ajax({
                    type: "POST",
                    url: '/Management/AddINSTALACION',
                    contentType: 'application/json;charset=utf-8',
                    dataType: 'json',
                    async: true,
                    data: data,
                    beforeSend: function () {
                        $('#loaderN').show();
                    },
                    success: function (result) {
                        if (result.exito) {
                            $('#newINSTALACION').modal('hide');
                            swal("Good job!", result.mensaje, "success").then(function () {
                                location.reload();
                            });
                        }
                        else {
                            swal({
                                icon: "error",
                                text: "Problems add a installation, we ask that you try again!",
                            });
                        }
                    }
                }) .fail(function (jqXHR, textStatus, errorThrow) {
                        var err = "Error: " + textStatus + " " + errorThrow;
                        console.log(err);
                    })

            });


            $('#btnEditINSTALACION').click(function (event) {

                var form = $("#formEditINSTALACION");
                form.addClass('was-validated');

                controlEinsta_tipo.wrapper.classList.toggle('is-invalid', !controlEinsta_tipo.isValid);
                controlEproyecto.wrapper.classList.toggle('is-invalid', !controlEproyecto.isValid);

                if (form[0].checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                    return;
                }

                let INSTALACION = {
                    "id": $('#IdINSTALACION').val(),
                    "proyecto_id": $('#E_proyecto_id').val(),
                    "tipo_instalacion_id": $('#E_tipo_instalacion_id').val(),
                    "cod_instalacion": $('#E_cod_instalacion').val(),
                    "descripcion_instalacion": $('#E_descripcion_instalacion').val()
                };

                var data = JSON.stringify(INSTALACION);

                $.ajax({
                    type: "POST",
                    url: '/Management/EditINSTALACION',
                    contentType: 'application/json;charset=utf-8',
                    dataType: 'json',
                    async: true,
                    data: data,
                    beforeSend: function () {
                        $('#loaderE').show();
                    },
                    success: function (result) {
                        if (result.exito) {
                            $('#editINSTALACION').modal('hide');
                            swal("Good job!", result.mensaje, "success").then(function () {
                                location.reload();
                            });
                        }
                        else {
                            swal({
                                icon: "error",
                                text: "Problems edit a installation, we ask that you try again!",
                            });
                        }
                    }
                }) .fail(function (jqXHR, textStatus, errorThrow) {
                        var err = "Error: " + textStatus + " " + errorThrow;
                        console.log(err);
                    })


            });



        });



    </script>
}
